# Data
nonverbal_language/data/

# Model files
**/*.pth
**/*.pt
**/*.bin
**/*.onnx
**/*.task
!nonverbal_language/face_landmarker.task
!nonverbal_language/pose_landmarker.task

# Python
__pycache__/
*.pyc
*.pyo
.env
